/* header rules */
a {
    text-decoration: none;
    font-weight: 500;
}

.title-color {
    color: #6964fe;
}

.content-color {
    color: grey;
}

.yellow-logo {
    background-color: #ffd56c8f;
}

#logo-seqa {
    width: 150px;
}

.hamb-menu {
    width: 30px;
    height: 3px;
    background-color: #6964fe;
}

.menu {
    border: 1px solid #6964fe;
    width: 55px;

}

.jumbo {
    background: url(../img/italian-pasta-ingredients-white-background-with-space-text_23-2147925938.webp) no-repeat center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.jumbo-content {
    color: white;
}

.down-arrow {
    width: 15px;

}

.lens {
    width: 25px;
}

.hidden-bar {
    display: none;
}

.dropdown-menu {
    transform: translate(0px, 220px) !important;
    border-radius: 0%;
    border: 0px;
}

.dropdown-item {
    text-align: center;
}

.link-drop {
    color: black;
}

.bullet-blue {
    font-size: x-large;
    color: hsl(207.8, 100%, 41%);
}

.nav-button:hover {
    border: 0px;
}

.nav-button {
    border: none;
}

.search {
    width: 200px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.icon-large {
    font-size: xx-large;
    color: #6964fe;
}

.icon-logo {
    width: 80px;
}

.img-ps {
    width: 200px;
}

.social-icon {
    padding-right: 5px;
    font-size: large;
    color: #6964fe;
}

/* footer */

.footer-addres {
    color: white;
    background-color: rgba(151, 151, 151, 0.815);
}


/* BUTTON */
.jumbo-button {
    color: #6964fe;
    /* color: #fdb70a; */
    border: 1px solid grey;
    font-weight: 600;
}

/* main rules */
aside {
    width: 25%;
}

p {
    max-width: 450px;
}

/* media query */

@media screen and (min-width:992px) {



    .social-icon {
        font-size: xx-large;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1400px) {
    .hambu-menu {
        display: none;
    }

    .hidden-bar {
        display: inherit;
    }

    .flex-around {
        display: flex;
        justify-content: space-around;
    }

    .logo-footer-ps {
        width: 150px;
    }
}