/* home rules */
/* #region */


.img-ps:hover {
    transform: scale(1);
    border: 1px grey solid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #6964fe;
    background-color: #ffd56c8f;
}

.jumbo-button:hover {
    box-shadow: 0px 0px 10px #6964fe;
}

.forum-button:hover {
    box-shadow: 0px 0px 10px #6964fe;
    background-color: #6964fe;
}

.button-marketing {
    box-shadow: 0px 0px 10px #6964fe;
    height: 60px;
}

a:hover {
    color: #fdb70a;
}

.dropdown-item:hover {
    transform: scale(1.3);
    background-color: #6964fe00 !important;
    font-weight: 500;
    color: #6964fe;
}

.midle-hidden-img {
    visibility: hidden;
}

.midle-img:hover .midle-hidden-img {
    visibility: visible;
}

.card-main:hover .img-serv {
    opacity: .7;
}

.card-main:hover .icon-large-main {
    visibility: hidden;
}

.img-home {
    transition: 2s;
}

.img-home:hover {
    transform: scale(.8);
}

.social-icon {
    transition: 1s;
}

.social-icon:hover {
    transform: scale(1.4);
}

/* #endregion */

/* blog rules */

/* servizi rules */

.mani {
    transition: 2s;
}

.mani:hover {
    transform: scale(.5);
    opacity: 0.7;
}

.img-consulence {
    transition: 2s;
}

.img-consulence:hover {
    transform: scale(.5);
    opacity: 0.7;
}

.social-img {
    transition: 2s;
}

.social-img:hover {
    transform: scale(0.7);
}