/* general rule */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-y: scroll;
}

/* end general rules */
/* header rules */
.containerh {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../Images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 800px;
    position: relative;
    background-attachment: fixed;


}

a {
    padding: 10px;
    text-decoration: none;
    color: #6c77f3;
    font-size: large;
}

.logo-container {
    margin: 50;
}


.logo,
#hover-seqa {
    width: 200px;

}

h1 {
    color: #6c77f3;
    font-size: xx-large;
    font-weight: 900;
}

h3 {
    color: #ffca0f;
    font-size: xx-large;
    font-weight: 900;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.consulence {
    background-color: rgba(240, 248, 255, 0);
    color: #6c77f3;
    font-size: large;
    width: 120px;
    height: 50px;
    border: solid 0.5px aliceblue;
    border-radius: 15px;
}

.consulence:hover {
    background-color: #ffca0f;
}

/* end header rules */
/* main rules */

hr {
    margin: 10px auto;

}

.midle {
    text-align: center;
    padding: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.text-felx {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
}

.ser-text {
    max-width: 400px;
}

.back {
    background-image: url(../Images/photo-1448518340475-e3c680e9b4be.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hover-seqa {
    opacity: 0;
    font-size: larger;
    color: #ffca0f;
}

.back:hover #hover-seqa {
    opacity: 1;

}

.scopri-piu {
    max-width: 200px;
    text-align: center;
}

.skils {
    text-align: center;
    padding: 20px;
}

.skils>div {
    margin: 10px;
}

.maps {
    width: calc(100% / 2);
    height: 400px;
}

hr {
    max-width: 600px;
}




/* end main rules */

/* footer rules */
.contact {
    line-height: 1.7;
}

.social {
    text-align: center;
}

.social-i {
    font-size: xx-large;
    margin: 4px;
}

.flex-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: rgba(155, 118, 216, 0.719);
}