/* header rules */
/* #region */
.title-color {
    color: #6964fe;
}

.content-color {
    color: grey;
}

.yellow-logo {
    background-color: rgba(241, 224, 148, 0.548);
}

#logo-sony {
    width: 100px;
}

.hamb-menu {
    width: 30px;
    height: 3px;
    background-color: rgb(95, 95, 95);
}

.menu {
    border: 1px solid grey;
    width: 55px;

}

.jumbo {
    background: url(../img/italian-pasta-ingredients-white-background-with-space-text_23-2147925938.webp) no-repeat center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.jumbo-content {
    color: white;
}

.down-arrow {
    width: 15px;

}

.lens {
    width: 25px;
}

.hidden-bar {
    display: none;
}

.dropdown-menu {
    transform: translate(0px, 180px) !important;
    border-radius: 0%;
    border: 0px;
}

.link-drop {
    color: black;
}

.bullet-blue {
    font-size: x-large;
    color: hsl(207.8, 100%, 41%);
}

.nav-button:hover {
    border: 0px;
}

.nav-button {
    border: none;
}

.search {
    width: 200px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.icon-large {
    font-size: xx-large;
    color: #6964fe;
}

.icon-logo {
    width: 80px;
}

.img-ps {
    width: 160px;
}

/* #endregion */
/* button */
/* #region */


.jumbo-button {
    color: #6964fe;
    /* color: #fdb70a; */
    border: 1px solid grey;
    font-weight: 600;
}

/* #endregion */
/* main rules */
/* #region */
/* #endregion */
/* footer rules */
/* #region */
/* #endregion */
/* media query */
/* #region */


@media screen and (min-width:992px) {

    .img-diagonal,
    .text-thumb {
        display: inherit;
    }
}

@media screen and (min-width: 1400px) {
    .hambu-menu {
        display: none;
    }

    .hidden-bar {
        display: inherit;
    }

    .flex-around {
        display: flex;
        justify-content: space-around;
    }

    .logo-footer-ps {
        width: 150px;
    }
}

/* #endregion */